:root {
    --pink:#f14e95;
    --orange:#FD8D14;
    --bg:#0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0/0.5);
}

body {
   font-size: 1.2rem;
   font-family: 'Work Sans', sans-serif;
   min-height: 4000px;

}


.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/anniv2.jpg);
    z-index: -1;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    
    

}

.hero {
    min-height: 100vh;
    position: relative;

}

.hero h1,
.hero h4,
.hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}
.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.3rem;
}

.hero a {

    color: var(--orange);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--orange);
    color: white;
}

.mynavbar {
    background-color: rgba(225,225, 225, 0.3) ! important;
    backdrop-filter: blur(1px);

}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    
    font-family: 'Dancing Script', cursive;
    font-size: 1.4rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.home {
    background-image: url(img/floral1.jpg);
    background-size: cover;
    min-height: 100vh;

    margin-top: -3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home h2 ,
.info h2 ,
.story h2 ,
.gallery h2,
.rsvp h2,
.gifts h2 {
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: var(--orange);
}
.home h4 {
    color: #444;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.home p {
    font-size: 0.9rem;
    color: #666;
}

.home .couple {
    margin-top:100px;

}

.home .couple img {
    width: 100%;
}

.home h3 {
    font-family:'Dancing Script', cursive ;
    font-size: 2rem;
    color: var(--orange);
    font-weight: bold;
}


.home .sosmed {
    position: relative;
    width: 175px;
    height: 175px;
    background: lightgrey;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease-in-out;
  }
  
.home .background {
    position: absolute;
    inset: 0;
    background:#e95016;
  }
  
.home .logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    transition: all 0.6s ease-in-out;
  }
  
.home .logo .logo-svg {
    fill: white;
    width: 30px;
    height: 30px;
  }
  
.home .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  
.home .icon .svg {
    fill: rgba(255, 255, 255, 0.797);
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  
.home .box {
    position: absolute;
    padding: 6px;
    text-align: right;
    background: rgba(255, 255, 255, 0.389);
    border-top: 2px solid #fcfcfb;
    border-right: 1px solid white;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
  }
  
.home .box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
.home .box:hover .svg {
    fill: white;
  }
  
.home .box1 {
    width: 70%;
    height: 70%;
    bottom: -70%;
    left: -70%;
  }
  
.home .box1::before {
    background: radial-gradient(circle at 30% 107%,#515BD4 5%, #8134AF 30%, #DD2A7B 60%, #FEDA77 90%, #F58529
    );
  }
  
.home .box1:hover::before {
    opacity: 1;
  }
  
.home .box1:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
  }
  
.home .box2 {
    width: 52%;
    height: 52%;
    bottom: -52%;
    left: -52%;
    transition-delay: 0.2s;
  }
  
.home .box2::before {
    background: radial-gradient(circle at 30% 107%, #fff 0%,  #25D366 90%);
  }
  
.home .box2:hover::before {
    opacity: 1;
  }
  
.home .box2:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
  }
  
.home .box3 {
    width: 32%;
    height: 32%;
    bottom: -32%;
    left: -32%;
    transition-delay: 0.4s;
  }
  
.home .box3::before {
    background: radial-gradient(circle at 30% 107%, #fff 0%, #0088CC 90%);
  }
  
.home .box3:hover::before {
    opacity: 1;
  }
  
.home .box3:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
  }
  
.home .sosmed:hover {
    transform: scale(1.1);
  }
  
.home .sosmed:hover .box {
    bottom: -1px;
    left: -1px;
  }
  
.home .sosmed:hover .logo {
    transform: translate(0, 0);
    bottom: 20px;
    right: 20px;
  }

.info {
    /* background-color: var(--bg); */
    background-image: url(img/bg-info.jpg);
    background-size: cover;
    min-height: 100vh;
    color: white;
    padding-top: 4.5rem;
    padding-bottom: 5rem;
}

.info .alamat {
    font-size: 1.1rem;
}

.info a {
    color: var(--orange);
    background-color: white;
    box-shadow: var(--shadow);
    margin-bottom:1rem;
}

.info a:hover {
    background-color: var(--orange);
    color: white;
}

   

.info .deskripsi {
    font-size: 0.9rem;
    font-weight: 400;
}

.info .card {
    background-color: rgba(225, 225, 225, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
}

.info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    
}

.info .card-body {
    font-size: 1rem;
    
}

.info .card-footer {
    border-top: 1px solid #999;
    font-size: 0.9rem;
}



.story , 
.gallery,
.rsvp,
.gifts {
    padding-top: 7rem;
    padding-bottom: 8rem;
}

.story span,
.gallery span,
.rsvp span ,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;

}

.story p ,
.gallery p,
.rsvp p ,
.gifts p {
    font-size: 0.9rem;
    font-family: 'Work Sans', sans-serif;

}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before{
   content: '';
   top: 0;
   bottom: 0;
   position: absolute;
   width: 1px;
   background-color: #ccc;
   left: 50%;
}

.timeline li {
    margin-bottom: 1.5rem;
    position: relative;
}

.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
}

.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position:absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;
}

.timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    top: 81px;
    right: -13px;

}

.timeline li.timeline-inverted .timeline-panel{
    float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}


.gallery {
    background-color: #cecdcd;
}

.gallery .kartu a{
  color: white;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#FD8D14, #FFE17B) border-box;
  border: 2px solid transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.gallery .kartu a:hover {
    rotate: 8deg;
}

.rsvp {
    background-color:var(--bg);
    /* background-image: url(img/bg-rsvp3.jpg);
    background-size: cover;
    background-position: center; */
    /* height: 100vh; */
    padding-top: 4rem;
}

.rsvp h2 {
    font-size: 4rem;
}

.rsvp p {
    color:white;
}

.rsvp form label {
  color:var(--bg);  
}



.rsvp button {
    width: 100px;
    height: 35px;
    position: relative;
    padding:0;
    background: #FD8D14;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #FEC195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
  }
  
.rsvp .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
.rsvp .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
.rsvp .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
.rsvp .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
.rsvp .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
.rsvp .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
  }
  
.rsvp button:hover {
    background: transparent;
    color: #FEC195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
.rsvp button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #FD8D14);
    z-index: 2;
  }
  
.rsvp button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #FD8D14);
    z-index: 2;
  }
  
.rsvp  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #FD8D14);
    z-index: 2;
  }
  
.rsvp  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #FD8D14);
    z-index: 2;
  }
  
.rsvp  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #FD8D14);
    z-index: 2;
  }
  
.rsvp  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #FD8D14);
    z-index: 2;
  }
  
.rsvp .fil0 {
    fill: #FD8D14
  }




footer {
    padding: 1rem;
    background-color: var(--orange);
    color: white;
}

footer a {
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer li {
    list-style: none;
    display: inline;
    margin: 0.5rem;
}

.audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
    cursor: pointer;
    color: var(--orange);
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }
    
    to {
        transform: rotate(360deg);
    }
}

/* Media Query */
/* Pc */
@media (max-width : 992px) {
    html {
        font-size: 75%;
    }

    .simply-countdown>.simply-section  {
        padding: 70px;
    }

    .timeline::before {
        left: 60px;
    }

    .timeline li .timeline-image {
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    .timeline li .timeline-panel {
        width: calc(100%-200px);
        float: right;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }

}

/* tablet */


@media (max-width : 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }

    .mynavbar .nav-link {
        font-size: 1.5rem;
        text-align: center;
    }

    .sticky-top {
        overflow: hidden;
    }

    .timeline li .timeline-image {
       width: 130px;
       height: 130px;
    }
}





/* mobile phone */
@media (max-width : 576px) {
    html {
        font-size: 60%;
    }
    
    .hero::before {
        background-image: url(img/phone.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .home .sosmed {
        width: 120px;
        height: 120px;
        position: relative;
        
      }
    
    .home .icon {
        width: 18px;
        height: 18px;
      }

      .home .box {
    
        padding: 4px;
        
        
      }

    .simply-countdown>.simply-section {
            padding: 35px;
            margin: 2px;
        }
    

        .timeline li .timeline-image {
            width: 80px;
            height: 80px;
         }

        .timeline li .timeline-panel {
            width: 55%;
            transform: translateX(-20px);
        }

        .timeline li .timeline-panel::before {
            top: 30px;
        }

        .timeline li .timeline-panel::after {
            top: 31px;
        }

}
